.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  }
  .card {
    width: 470px;
    height: 290px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  .card h1 {
    text-align: center;
    color: #05386B;
  }
  .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#92bCa6, #05386B);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  .card .additional .user-card .level,
  .card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }
  .card .additional .user-card .points {
    top: 15%;
  }
  .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
  }
  .card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
  .card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  }
  .img-thumbnail{
      width:110px;
      height:110px;
      margin-top: 50%;
  }
  #paddingup {
    padding-top: 25px;
  }
  #paddingdown {
    padding-bottom: 15px;
  }
  #dropSize {
    width: 170px;
    margin: auto;
}