<ng-template [ngIf]="menuDisplay">
  <!------ Submenu Starts Here ---------->
    <nav class="navbar-expand-sm">
      <ul class="navbar-nav justify-content-center">
      
        <div id="subMenuEndLeft"></div>
      
        <li class="nav-item text-center" id="groupeditLink" id="subMenu">
          <a class="nav-link text-dark" href="/users/create">Create User</a>
        </li>
      
        <li class="nav-item" id="groupnewLink" id="subMenu">
          <a class="nav-link text-dark" href="/users/current">Current User</a>
        </li>
      
        <div id="subMenuEndRight"></div>
      </ul>
    </nav>
  </ng-template>
  
  <div class="container d-flex justify-content-center" id="paddingup">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">

        <div class="d-flex justify-content-center feedback" id="good"></div>
        <div class="d-flex justify-content-center feedback" id="bad"></div>

        <div class="d-flex justify-content-center feedback" id="authError"></div>
  
        <div *ngFor="let usersList of users">
          
          <!------ Card Start -------->
          <div class="text-center" id="groupshow">
            <div class="card green">
              <div class="additional">
              <div class="user-card">
                <img src="assets/images/profilepics/{{usersList.profilepicture}}" class="img-fluid d-block mx-auto rounded-circle img-thumbnail mb-4">
              </div>
              </div>
              <div class="general"><br>
                <h1>{{usersList.username | uppercase}}</h1>
                <p>Email: <u>{{usersList.email}}</u></p>
                <p>Current Role: <u>{{usersList.role}}</u></p>

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Promote User</label>
                  <select class="form-control" id="dropSize" [(ngModel)]="userRoleChange">
                    <div *ngIf="promoteLevel;then option1 else option2"></div>
                      <ng-template #option1>
                        <option>Super Administrator</option>
                        <option>Group Administrator</option>
                        <option>Group Assistant</option>
                        <option>User</option>
                      </ng-template>
                      <ng-template #option2>
                        <option>Group Assistant</option>
                        <option>User</option>
                      </ng-template>
                  </select>

                  <div class="d-flex justify-content-center mt-3 login_container">
                    <button type="submit" name="button" class="btn btn-secondary" (click)="updateUser(usersList._id)">Update</button>&nbsp;&nbsp;
                    <button type="submit" name="button" class="btn btn-secondary" (click)="deleteUser(usersList._id)">Delete</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div id="paddingdown"></div>
          <!------ Card End ---------->
        </div>
  
      </div>
      <div class="col-1"></div>
    </div>
  </div>