<!------ Content Starts Here ---------->

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10"><div id="pageTitle"></div></div>
    <div class="col-1"></div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

    <!------ Card Start -------->
    <div class="card green center">
        <div class="general">
          <h1>{{group_name | uppercase}}: {{channel_name}}</h1>

          <main class="content">
            <div class="container p-0">
        
                <div class="card">

                    <div class="row g-0">
                        <div class="col-12 col-lg-5 col-xl-3 border-right">
                            <div class="position-relative">
                                
                                <div class="channelusers">

                                    <div *ngFor="let chatUser of chatUsers">

                                        <div class="list-group-item list-group-item-action border-0">
                                            <div class="d-flex align-items-start">
                                                <img src="assets/images/profilepics/{{chatUser.profilepicture}}" class="rounded-circle mr-1" alt="{{chatUser.username}}" width="40" height="40">
                                                &nbsp;<div id="namePadding">{{chatUser.username | uppercase}}</div>
                                            </div>
                                        </div>

                                    </div>  
                                    
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-7 col-xl-8"> <!-- <div class="col-12 col-lg-7 col-xl-9"> -->
        
                            <div class="position-relative">
                                <div class="chat-messages p-4">

                                    <div *ngFor="let ChatMessage of ChatMessages">

                                        <div class="chat-message-right pb-4">
                                            <div>
                                                <img src="assets/images/profilepics/{{ChatMessage.profilepicture}}" class="rounded-circle mr-1" alt="{{ChatMessage.username}}" width="70" height="70">
                                                <div class="text-muted small text-nowrap mt-2">{{ChatMessage.timestamp}}</div>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                            <div class="font-weight-bold mb-1"><b>{{ChatMessage.username | uppercase}}</b></div>
                                                {{ChatMessage.message}}
                                            </div>

                                            <div *ngIf="ChatMessage.imageStatus">
                                                <a href="assets/images/chatpics/{{ChatMessage.imageName}}"><img src="assets/images/chatpics/{{ChatMessage.imageName}}" alt="{{ChatMessage.username}} Chat Picture" width="125px" height="100px"></a>
                                            </div>
                                            
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <form>
                                <div class="flex-grow-0 py-3 px-4 border-top">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control"/>
                                        <button (click)="chat()" class="btn btn-secondary">Send</button>
                                    </div>
                                    <div class="input-group">
                                        <input type="file" class="form-control-file imageselector" accept="image/png, image/jpeg, image/gif" (change)="onFileSelected($event)" name="uploadFile" id="uploadFile">
                                        <div id="instructions">Enter a message and select an images if you want and hit send.</div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>

        </div>
      </div>
      <!------ Card End ---------->

    </div>
    <div class="col-1"></div>
  </div>
</div>
<br>
<div class="d-flex justify-content-center feedback" id="good"></div>
<div class="d-flex justify-content-center feedback" id="bad"></div>